.gallery-btn, .section-partners-btn, .hero-btn, .log-btn {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-align: _;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(24, 24, 24);
}

.container {
  padding: 0 4px 0 4px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.log-btn {
  padding: 13px 40px;
  background-color: inherit;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 92px;
}

.hero-btn {
  background-color: rgb(68, 82, 254);
  padding: 20px 40px;
  max-width: 178px;
}
.hero-btn:nth-child(2) {
  background-color: inherit;
  border: 1px solid rgb(255, 255, 255);
}

.gallery-btn, .section-partners-btn {
  padding: 13px 40px;
  background-color: inherit;
  border: 1px solid rgb(255, 255, 255);
  margin: 0 auto;
  display: block;
}

.section-prototype-btn {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-align: _;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 82, 254);
  padding: 13px 67px;
}
@media screen and (min-width: 1579px) {
  .section-prototype-btn {
    position: absolute;
    left: 94px;
    bottom: 61px;
  }
}

.social-list-link {
  color: rgb(255, 255, 255);
}
.social-list-svg {
  fill: currentColor;
}

.burger-btn {
  background-color: inherit;
  color: rgb(255, 255, 255);
  margin-left: 16px;
}
@media screen and (min-width: 1579px) {
  .burger-btn {
    display: none;
  }
}

.burger-svg {
  fill: currentColor;
}

.footer {
  padding: 107px;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
}

.fingertype-title, .resources-title, .about-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: 19px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 75px;
}
@media screen and (min-width: 1579px) {
  .footer-nav-list {
    margin: 0 75px 0 0;
  }
}
.footer-nav-list-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: 19px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 34px;
}
.contacts-list-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
.contacts-list-svg {
  fill: currentColor;
}
@media screen and (min-width: 1579px) {
  .contacts-list {
    margin-left: 199px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
.social-list-link {
  color: rgb(255, 255, 255);
}
.social-list-svg {
  fill: currentColor;
}
@media screen and (min-width: 1579px) {
  .social-list {
    margin-left: 199px;
  }
}

.header {
  padding: 27px 0 27px 0;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
}

.section-hero {
  background-image: url("../img/bg/hero-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 57px 0 510px 0;
}

.hero-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 294px;
  margin: 0 auto 27px auto;
}
@media screen and (min-width: 1579px) {
  .hero-title {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 729px;
    margin: 0 auto 37px auto;
  }
}

.hero-desc {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 328px;
  margin: 0 auto 67px auto;
}
@media screen and (min-width: 1579px) {
  .hero-desc {
    max-width: 582px;
  }
}

.hero-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
@media screen and (min-width: 1579px) {
  .hero-btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px;
    -ms-flex-wrap: _;
        flex-wrap: _;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin: 0 136px 0 183px;
}
.nav-list-link {
  font-family: Graphik;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1579px) {
  .nav {
    display: block;
  }
}

.section-content {
  padding: 50px 0;
}
.section-content-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.section-content-desc {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 288px;
  margin: 0 auto;
}
@media screen and (min-width: 1579px) {
  .section-content-desc {
    margin-bottom: 54px;
    max-width: 571px;
  }
}
.section-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
@media screen and (min-width: 1579px) {
  .section-content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: _;
        -ms-flex-align: _;
            align-items: _;
    gap: 33px;
    -ms-flex-wrap: _;
        flex-wrap: _;
  }
}

.section-feautures {
  padding: 62px 0;
}
.section-feautures-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 27px;
}
.section-feautures-desc {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 411px;
  margin: 0 auto 27px auto;
}
@media screen and (min-width: 1579px) {
  .section-feautures-desc {
    max-width: 582px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1579px) {
  .section-feautures {
    padding: 162px 0;
  }
}

.feautures-img {
  width: 376px;
  height: 406px;
  margin: 0 auto 57px auto;
}
@media screen and (min-width: 1579px) {
  .feautures-img {
    width: 752px;
    height: 759px;
    margin: 0;
  }
}

.feautures-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
.feautures-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 20px;
}
.feautures-list-svg {
  fill: rgb(2, 228, 192);
}
.feautures-list-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: _;
  color: rgb(255, 255, 255);
  max-width: 153px;
}
.feautures-list-desc {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: _;
  color: rgb(255, 255, 255);
  max-width: 249px;
}

@media screen and (min-width: 1579px) {
  .feautures-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: _;
            flex-direction: _;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 78px;
    -ms-flex-wrap: _;
        flex-wrap: _;
  }
}

.section-gallery {
  padding: 161px 0 50px 0;
}
.section-gallery-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.section-gallery-desk {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 363px;
  margin: 0 auto 54px auto;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 44px;
}
.gallery-list-item:nth-child(n+5) {
  display: none;
}
@media screen and (min-width: 1579px) {
  .gallery-list-item {
    display: block;
  }
  .gallery-list-item:nth-child(n+5) {
    display: block;
  }
  .gallery-list-item:nth-child(-n+4) {
    display: none;
  }
}
.gallery-list-img {
  border-radius: 12px;
}
@media screen and (min-width: 1579px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 33px 44px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto 44px auto;
  }
}

.section-partners {
  padding: 50px 0;
}
.section-partners-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.section-partners-desc {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 329px;
  margin: 0 auto 60px auto;
}
@media screen and (min-width: 1579px) {
  .section-partners-desc {
    max-width: 571px;
  }
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 390px;
  margin: 0 auto 50px auto;
}
@media screen and (min-width: 1579px) {
  .partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: _;
            flex-direction: _;
    -webkit-box-pack: _;
        -ms-flex-pack: _;
            justify-content: _;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 55px 50px;
    -ms-flex-wrap: _;
        flex-wrap: _;
    max-width: 832px;
  }
}

.section-testimonial {
  padding: 60px 0 151px 0;
}
.section-testimonial-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 60px;
}

.testimonial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
.testimonial-list-item {
  border: 1px solid rgb(86, 86, 86);
  border-radius: 10px;
  max-width: 352px;
  padding: 40px 68px 40px 40px;
}
.testimonial-list-item:nth-child(n+5) {
  display: none;
}
@media screen and (min-width: 1579px) {
  .testimonial-list-item {
    max-width: 430px;
  }
  .testimonial-list-item:nth-child(n+5) {
    display: block;
  }
  .testimonial-list-item:nth-child(-n+3) {
    display: none;
  }
}
.testimonial-list-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.testimonial-list-desc-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.testimonial-list-desc {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}
@media screen and (min-width: 1579px) {
  .testimonial-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 23px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 883px;
    margin: 0 auto;
  }
}

.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: _;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 23px;
}

.section-prototype {
  background-color: rgb(30, 30, 30);
  background-image: url("../img/prototype/prototype-first.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding: 104px 0 489px 0;
}
.section-prototype-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 356px;
}
@media screen and (min-width: 1579px) {
  .section-prototype-title {
    max-width: 479px;
    text-align: left;
    position: absolute;
    left: 94px;
    top: 61px;
  }
}
@media screen and (min-width: 1579px) {
  .section-prototype {
    background-image: none;
    padding: 61px 0;
    background-color: inherit;
  }
}

.prototype-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
@media screen and (min-width: 1579px) {
  .prototype-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: _;
        -ms-flex-pack: _;
            justify-content: _;
    -webkit-box-align: _;
        -ms-flex-align: _;
            align-items: _;
    gap: 37px;
    -ms-flex-wrap: _;
        flex-wrap: _;
  }
}
@media screen and (min-width: 1579px) and (min-width: 1579px) {
  .prototype-div {
    background-color: rgb(30, 30, 30);
    background-image: url("../img/prototype/prototype-sec.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1219px;
    border-radius: 33px;
    margin: 0 auto;
    padding: 78px 0;
    position: relative;
    height: 370px;
  }
}/*# sourceMappingURL=main.css.map */